.box {
  width: 100px;
  height: 100px;
  background-color: orange;
  transition: 1s;
}
/* .box:hover {
  width: 300px;
  background-color: royalblue;
} */
.box:active {
  width: 300px;
  background-color: royalblue;
}
input:focus {
  background-color: orange;
}
.fruits span:first-child {
  color: pink;
}
.fruits h3:last-child {
  color: pink;
}
.fruits *:nth-child(4) {
  color: blue;
}
.fruits *:nth-child(2n) {
  color: aquamarine;
}